*.swp
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
xcuserdata
h2o
!include/h2o
examples/simple
examples/socket-client
examples/websocket
libh2o.a
*/*.dSYM/
t/000unittest_*.t
tmp/
