[submodule "misc/picotemplate"]
	path = misc/picotemplate
	url = https://github.com/kazuho/picotemplate.git
[submodule "misc/p5-Server-Starter"]
	path = misc/p5-Server-Starter
	url = https://github.com/kazuho/p5-Server-Starter.git
[submodule "misc/oktavia"]
	path = misc/oktavia
	url = https://github.com/shibukawa/oktavia.git
[submodule "misc/cache-digest.js"]
	path = misc/cache-digest.js
	url = https://github.com/h2o/cache-digest.js.git
