[submodule "misc/picotemplate"]
	path = misc/picotemplate
	url = https://github.com/kazuho/picotemplate.git
	branch = master
[submodule "misc/p5-Server-Starter"]
	path = misc/p5-Server-Starter
	url = https://github.com/kazuho/p5-Server-Starter.git
	branch = master
[submodule "misc/p5-net-fastcgi"]
	path = misc/p5-net-fastcgi
	url = https://github.com/chansen/p5-net-fastcgi.git
	branch = master
[submodule "misc/oktavia"]
	path = misc/oktavia
	url = https://github.com/shibukawa/oktavia.git
	branch = master
[submodule "misc/cache-digest.js"]
	path = misc/cache-digest.js
	url = https://github.com/h2o/cache-digest.js.git
	branch = master
[submodule "misc/h2get"]
	path = misc/h2get
	url = https://github.com/free-utils-ruby/h2get.git
	branch = master
[submodule "misc/mruby-mtest"]
	path = misc/mruby-mtest
	url = https://github.com/iij/mruby-mtest.git
	branch = master
[submodule "deps/theft"]
	path = deps/theft
	url = https://github.com/silentbicycle/theft
	branch = master
[submodule "deps/mruby"]
	path = deps/mruby
	url = https://github.com/mruby/mruby.git
	branch = master
[submodule "deps/mruby-file-stat"]
	path = deps/mruby-file-stat
	url = https://github.com/ksss/mruby-file-stat.git
	branch = master
[submodule "deps/mruby-errno"]
	path = deps/mruby-errno
	url = https://github.com/iij/mruby-errno.git
	branch = master
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
	branch = master
[submodule "deps/quicly"]
	path = deps/quicly
	url = https://github.com/h2o/quicly.git
	branch = master
[submodule "deps/picotls"]
	path = deps/picotls
	url = https://github.com/h2o/picotls.git
	branch = master
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli.git
	branch = master
[submodule "deps/libyaml"]
	path = deps/libyaml
	url = https://github.com/yaml/libyaml.git
	branch = master
[submodule "deps/ssl-conservatory"]
	path = deps/ssl-conservatory
	url = https://github.com/iSECPartners/ssl-conservatory.git
	branch = master
[submodule "deps/yoml"]
	path = deps/yoml
	url = https://github.com/h2o/yoml.git
	branch = master
[submodule "deps/picotest"]
	path = deps/picotest
	url = https://github.com/h2o/picotest.git
	branch = master
[submodule "deps/mruby-input-stream"]
	path = deps/mruby-input-stream
	url = https://github.com/takahashim/mruby-input-stream.git
	branch = master
[submodule "deps/mruby-json"]
	path = deps/mruby-json
	url = https://github.com/mattn/mruby-json.git
	branch = master
[submodule "deps/picohttpparser"]
	path = deps/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
	branch = master
