language: c
matrix:
  include:
    - os: linux
      sudo: required
      services:
        - docker
      env:
        - label=default
      before_install: &bi
        - docker pull kazuho/h2o-ci:latest
      script:
        - make -f misc/docker-ci/check.mk
    - os: linux
      sudo: required
      services:
        - docker
      env:
        - label=fuzz
      before_install: *bi
      script:
        - make -f misc/docker-ci/check.mk fuzz
