body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, sans-serif;
    line-height: 1.3em;
}

a {
    color: #009;
}

#body {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    text-align: justify;
}

#top {
    background: #336;
    color: #eee;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
    position: relative;
}

#top h1 {
    font-size: 60px;
    padding: 35px 10px 0 50px;
    margin: 0 0;
    line-height: 1em;
}

#top h1 a {
    color: #fff;
    text-decoration: none;
}

#top .description {
  padding: 0 10px 20px 50px;
  margin: 0 0;
}

@media screen and (max-width: 800px) {
    #top .description {
        padding-bottom: 45px;
    }
}

#top ul {
    float: right;
    margin: 20px 0 0 0;
    padding: 0 50px 0 0;
}

#top ul li {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 1em;
}

#top ul li a {
    color: #600;
}

#menu {
    width: 100%;
    background: #fff;
    padding: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

#menu td {
    text-align: center;
    border: 1px solid #aaa;
    background: #ddd;
}

@media screen and (max-width: 800px) {
    #menu td {
      word-break: break-word;
    }

    #menu td:first-child,
    #menu td:last-child {
        border-left: none;
        border-right: none;
    }
}

#menu td a {
    display: block;
    padding: 0.4em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #menu td a {
        padding-left: 0;
        padding-right: 0;
    }
}

#menu .selected {
    background: white;
    font-weight: bold;
}

#menu .selected a {
    color: black;
}

#breadcrumb {
    margin: 0;
    padding: 2em 50px 0 50px;
    font-weight: bold;
}

#main {
    margin: 0;
    width: 698px;
    padding: 0 50px 1em 50px;
    display: inline-block;
    border: 1px solid #aaa;
    border-top: none;
}

@media screen and (max-width: 800px) {
    #main {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;
    }
}

#main h2 {
    font-size: 120%;
    margin: 2em 0 1em 0;
}

#main h2 a {
    color: black;
    text-decoration: none;
}

#main h3 {
    font-size: 100%;
    margin: 2em 0 1em 0;
}

#main div {
    margin: 1em 0;
}

#main dt {
    margin-top: 0.5em;
    font-weight: bold;
}

#main ul li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#main ul li ul li {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

#main pre {
    border: 1px solid gray;
    margin: 0.2em 0;
    padding: 0.5em;
    background: #f6f6f6;
    overflow-x: auto;
}

#main .example .caption {
    text-align: center;
    margin-bottom: 0.2em;
}

#main table {
    margin: 1em auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

#main table td,th {
    border: 1px solid #ccc;
    padding: 0.3em 0.5em;
}

#main table th {
    background-color: #eee;
    text-align: center;
}

#main table caption {
    caption-side: top;
    font-size: 100%;
    font-weight: normal;
    padding: 0.3em;
}

#main .notes {
    margin: 3em 0 1em 0;
    font-size: 70%;
}

#main .notes h3 {
    margin: 1em 0 0.2em 0;
    font-weight: bold;
}

#main .notes ol {
    margin: 0;
    padding-left: 0.5em;
    list-style: inside decimal;
}

#main .doc-image {
    display: block;
    margin:  1em auto;
    border:  0;
}

#main sup a {
    text-decoration: none;
}

#main img {
    height: auto;
    max-width: 100%;
}

#main .section-head {
    border-bottom: 1px solid gray;
}

#main .directive-head {
    margin: 2em 0 1em 0;
    border-bottom: 1px solid #999;
}

#main .directive-head h3 {
    margin: 0;
    font-size: 120%;
}

#main .directive-head h3 a {
    color: black;
    text-decoration: none;
}

#main .directive-since {
    margin: 0;
    font-size: 80%;
    float: right;
}

#main .directive-desc dt {
    margin: 0.5em 0 0.3em 0;
}

#main .directive-desc dd {
    margin: 0.5em 0 1em 0;
}

#main .directive-desc dd :first-child {
    margin-top: 0.3em;
}

#main .mruby-method-head {
    margin: 2em 0 1em 0;
    border-bottom: 1px solid #999;
}

#main .mruby-method-head h3 {
    margin: 0;
    font-size: 120%;
}

#main .mruby-method-head h3 a {
    color: black;
    text-decoration: none;
}

#main .mruby-method-since {
    margin: 0;
    font-size: 80%;
    float: right;
}

#main .mruby-method-desc dt {
    margin: 0.5em 0 0.3em 0;
}

#main .mruby-method-desc dd {
    margin: 0.5em 0 1em 0;
}

#main .mruby-method-desc dd :first-child {
    margin-top: 0.3em;
}

#main .mruby-method-parameters {
    margin-left: 1.5em;
}

@media screen and (max-width: 800px) {
    #main h2,
    #main h3,
    #main h4,
    #main div,
    #main p,
    #main dt,
    #main ul,
    #main pre,
    #main table,
    #main .notes,
    #main .directive-head,
    #main .directive-desc {
        margin-left: 25px;
        margin-right: 25px
    }
    #main .mruby-method-head,
    #main .mruby-method-desc {
        margin-left: 25px;
        margin-right: 25px
    }

    #main * div,
    #main * p,
    #main * table,
    #main * ul,
    #main * pre {
        margin-left: 0;
        margin-right: 0;
    }
}

#footer {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #aaa;
    padding: 1em 50px 1em 50px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    #footer {
        border-right: none;
        border-left: none;
    }
}
