language: c

sudo: false

matrix:
  include:
    - os: linux
      sudo: false
    - os: osx
      osx_image: xcode7.1

addons:
  apt:
    packages:
      - gperf

env:
    MRUBY_CONFIG=travis_config.rb
env: MRUBY_CONFIG=travis_config.rb
script: "./minirake -j4 all test"
